
 #hero{
  height: 70vh;
 }

a{
    cursor: pointer;
}
.explore {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    gap: 15px;
    /* padding-left: 6rem;
    padding-right: 6rem; */
    background-color: #0060b4;
    width: 90%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: #fff;
    height: 100%;
    align-items: center;
}
.explore-left{
    padding: 3rem;
    justify-content: center;
}


@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeInZoom {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* .animated-text {
    animation: fadeInUp 1.5s ease-out forwards;
    opacity: 0; 
}
.animated-image {
    animation: fadeInZoom 1.5s ease-out forwards;
    opacity: 0; 
} */

.animated-text, .animated-image {
    opacity: 0;
    transform: translateY(30px);
    
    transition: all 1.5s ease-out;
}

.scroll-animate {
    opacity: 1 !important;
    transform: translateY(0) !important;
}
.fixed-bubble {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 50; /* Ensure it's above other elements */
}
.boltType li{
    padding-top: 15px;
    font-weight: 150;
    letter-spacing: .4;
}

@media only screen and (max-width: 600px) {
    .explore {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;


        padding: 30px;
        margin: auto;
        
    }
    .explore-right
    {
        display: none;  

    }
    .explore-left{
        width: 100%;
        padding: 0px;
        margin: 0px;
        padding-top: 35px;
        padding-bottom: 35px;        

    }

    .imgexplore {
        max-width: 90%;
        height: auto;
    }
    #hero{
        height: 40vh;
    }

}