#hero {
    background-image: url('../assets/silver-nails.jpg');
    background-position: center;
    background-repeat: no-repeat;
    /* background-color: #374151; */
    /* Equivalent to bg-gray-700 */
    /* background-blend-mode: multiply; */
    transition: background-image 1s ease-in-out; 
    background-attachment: fixed;

    background-size: auto;
    background-size: cover;
background-position: 50% 50%;

}

.explore {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    gap: 15px;
    padding-left: 6rem;
    padding-right: 6rem;
    background-color: #0060b4;
    width: 80%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: #fff;
    height: 100%;
    align-items: center;
}
.explore-left{
    padding: 3rem;
    justify-content: center;
}



@media only screen and (max-width: 600px) {
    .explore {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;

    }
    .explore-right
    {
        display: none;  

    }
    .explore-left{
        width: 100%;
        padding: 0px;
        padding-top: 35px;
        padding-bottom: 35px;        

    }

    .imgexplore {
        max-width: 90%;
        height: auto;
    }

}